# Model cache directory
cache/

# Output directory
output/

# Console logs
logs/

# Scripts output directory
scripts/output/

# Python bytecode
__pycache__/
*.py[cod]

# HuggingFace token file
hf_token

# Exclude unison profile files
*.prf

# AI memory banks
memory-bank/
CLAUDE.MD
CLAUDE.local.md

# AI configurations and rules
.cline/
.claude/
.kilocode/

# Experiment utomation files
*.sh
*bat

# VS Code
.vscode/
